h1{
    font-size: 6em !important;
}

h1 span{
    padding: 10px;
    background: linear-gradient(-45deg, #ffffff, #319236, #4c51f7, #9d4dbb, #f3af19);
}

.container p{
    font-size: larger;
}

a img{
    width: 75px;
}

.downloadbutton{
    width: 200px;
    margin-left: 30%;
    filter: drop-shadow(2px 4px 8px #3b3b3b);
}

.modal-header{
    background-color: rgb(48, 24, 96);
    color: white;
}

.modal-body{
    background-color: rgb(24, 24, 48);
    color: white;
}

.modal-footer{
    background-color: rgb(48, 24, 96);
    color: white;
}