.container{
    background-color: rgba(219, 219, 219, 0.425);
    border-radius: 0.5em;
    margin-bottom: 2em;
}

table, tr, td, th{
    border: 2px solid white;
    border-collapse: collapse;
    border-radius: 0.5em;
}

footer {
    background-color: rgb(65, 65, 65);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*filter: drop-shadow(2px 4px 8px #3b3b3b);