.odkaz{
    color: yellow;
}

.odkaz:hover{
    color: yellowgreen;
}

.fortnitefont{
    font-family: FortniteFont;
}

body{
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background: linear-gradient(-45deg, #ffffff, #319236, #4c51f7, #9d4dbb, #f3af19);
    background-size: 400% 400%;
    animation: background 30s ease-in-out infinite;
}
@keyframes background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.homelogo {
    width: 1cm;
}

.btn-primary {
    background: linear-gradient(-45deg, rgb(0, 17, 255), rgb(0, 132, 255), rgb(50, 224, 255));
}

.btn {
    border: none !important;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.carousel-indicators {
    padding-bottom: 2em;
}

footer {
    background-color: rgb(65, 65, 65);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}

@font-face {
    font-family: FortniteFont;
    src: url(font/fortnite.otf);
    font-weight: normal;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}